# Ігноруємо загальні файли для Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Логи
logs/
*.log

# Середовища
.env

# Ігноруємо IDE файли
.vscode/
.idea/
*.iml
client/build/
server/dist/
.DS_Store
Thumbs.db
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
